[Unit]
Description=A invitation management service
After=network.target

[Service]
WorkingDirectory=/home/dancetime/birthdaiii/
ExecStart=/bin/bash -c 'npm run start'
Restart=always

[Install]
WantedBy=default.target